{
  "project_info": {
    "project_number": "0",
    "project_id": "YOUR_FIREBASE_PROJECT_ID",
    "storage_bucket": "YOUR_FIREBASE_PROJECT_ID.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:0:android:0",
        "android_client_info": {
          "package_name": "com.tiftazani.laundryops"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_ME"
        }
      ],
      "services": {
        "appinvite_service": { "other_platform_oauth_client": [] }
      }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:0:android:debug",
        "android_client_info": {
          "package_name": "com.tiftazani.laundryops.debug"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_ME"
        }
      ],
      "services": {
        "appinvite_service": { "other_platform_oauth_client": [] }
      }
    }
  ],
  "configuration_version": "1"
}
