name = "cuciin-api"
main = "src/index.ts"
compatibility_date = "2026-09-01"

[[d1_databases]]
binding = "DB"
database_name = "cuciin-db"
database_id = "GANTI_DENGAN_ID_D1"
migrations_dir = "migrations"

[vars]
ENVIRONMENT = "production"
